# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
